repos:
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: coverage run -m pytest tests/unit
        language: python
        pass_filenames: false
        types: [python]
        always_run: true
  
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        args: # arguments to configure black
          - --line-length=128
  
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0 # Use the latest version
    hooks:
      - id: flake8
        args: # arguments to configure black
          - --ignore=E402,E501